h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-family: Helvetica;
  margin: 0px;
}

header {
  text-align: center;
}

body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

.new-todo{
  width: 500px;
  height: 50px;
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
}

.todo-list{
  text-align: left;
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}

.view{
  width: 500px;
  height: 50px;
  text-align: left;
  font-family: Helvetica;
  font-size: 24px;
  margin: 0px auto;
  border: 2px solid #D3D3D3;
  padding: 1px;
  display: flex;
  align-items: center;
}

.completed{
  text-decoration: line-through;
  color: #D3D3D3;
}

.footer{
  width: 500px;
  height: 35px;
  text-align: left;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0px auto;
  border: 2px solid #D3D3D3;
  padding: 1px;
  display: flex;
  align-items: center;
  color: gray;
}
